<div class="container mt-5">
  <h1>Acerca de Writter</h1>
  <p>Writter te permite leer y compartir tus teorías conpirativas sobre los temas menos interesantes del mundo.</p>
  <p>Desarrollada con las últimas tecnologías de Wakanda y tornillos para ofrecerte una experiencia de otro nivel.</p>
</div>
